/* COLORS */
:root {
    --primary1: #06c;
    --font1: #222;
    --font2: #fff;
}

/* NORMALIZE */
* {
    /* font */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--font1);
    -webkit-font-smoothing: antialiased;

    /* sizing */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    all: unset;
}

/* HOME BUTTON */
.home-button {
    z-index: 1;
    position: absolute;
    color: var(--font2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary1);
    height: 40px;
    width: 80px;
    margin: 12px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.home-button:hover {
    color: var(--primary1);
    background-color: transparent;
    border: 2px solid var(--primary1);
}

/* MAIN CONTENT */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#menu {
    position: absolute;
    bottom: 60px; /* change to "bottom:" to move it to the bottom */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* change to "flex-end" if on bottom */
    gap: 18px;
    height: 105px;
    padding: 12px 15px;
    background-color: var(--font1);
    border-radius: 30px;
}

.menuitem {
    --base-size: 80px; /* Custom property for base size */
    --max-size: 100px; /* Custom property for maximum size */
    --zoom-distance: 180; /* Custom property for zoom distance */
    width: var(--base-size); /* Sets the initial width to match the custom "base size" property */
    height: var(--base-size); /* Sets the initial height to match the custom "base size" property */
    border-radius:  18px; /* This border radius is scaled up with the item in JS */
    background-color: var(--primary1);
    cursor: pointer;
    transition: 0.1s;
}

/* HEADER & FOOTER */
header {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

p {
    margin: 20px;
}