/* COLORS */
:root {
    --primary1: #06c;
    --font1: #222;
    --font2: #fff;
}

/* NORMALIZE */
* {
    /* font */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--font1);
    -webkit-font-smoothing: antialiased;

    /* sizing */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    all: unset;
}

/* HOME BUTTON */
.home-button {
    z-index: 1;
    position: absolute;
    color: var(--font2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary1);
    height: 40px;
    width: 80px;
    margin: 12px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.home-button:hover {
    color: var(--primary1);
    background-color: transparent;
    border: 2px solid var(--primary1);
}

/* MAIN CONTENT */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#blob-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#target-blob {
    --steps: 120;
    --duration: 2s;
    --alignment: 0px 0px;
    /* Adjust color in HTML */
    width: 100%;
    height: 100%;
}

/* Let's make the SVG rotate */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(70deg);
    }
    50% {
        transform: rotate(200deg);
    }
    75% {
        transform: rotate(280deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

path {
    animation: rotateAnimation 20s linear infinite;
    pointer-events: none;
}

/* HEADER & FOOTER */
header {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

p {
    margin: 20px;
}