.home-button {
    z-index: 1;
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 10px 16px;
    background-color: #222222;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}
.home-button:hover {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --gradient1: #ffca9a;
    --gradient2: #ff88bb;
    --gradient3: #b777ff;

    --bg1: #111111;
    --ft1: #eeeeee;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg1);
}

body {
    background-color: var(--bg1);
}

h1 {
    position: absolute;
    top: 0px;
    font-size: 48px;
    color: white;
}

p {
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    color: white;
}

#blob-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
}

#target-blob {
    --steps: 120;
    --duration: 2s;
    --alignment: 0px 0px;
    /* Adjust color in HTML */
    width: 70%;
}

/* Let's make the SVG rotate */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(70deg);
    }
    50% {
        transform: rotate(200deg);
    }
    75% {
        transform: rotate(280deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

path {
    animation: rotateAnimation 20s linear infinite;
    pointer-events: none;
} 